
.nav-bar li a:hover::after {
    content:"";
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(255, 123, 0) 50%, rgb(70, 68, 68) 50%);
    animation: bottom 0.5s ease-in-out;
    
}
@keyframes bottom {
    0% {
        width: 0;
        left: 50%;
    }
    
    100% {
        left: 0%;
    }
}
@keyframes bottom2 {
    0% {
        width: 0;
        left: 50%;
    }
    
    100% {
        left: 0%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: #ff7300 ;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 177px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #ff7300 ;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: #ff7300 ;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message{
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 8px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 0px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 25%;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: -15px;
    font-size: 0.79em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: #FF7300;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
    
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }