
.nav-bar li a:hover::after {
    content:"";
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(255, 123, 0) 50%, rgb(70, 68, 68) 50%);
    animation: bottom 0.5s ease-in-out;
    
}
@keyframes bottom {
    0% {
        width: 0;
        left: 50%;
    }
    
    100% {
        left: 0%;
    }
}
@keyframes bottom2 {
    0% {
        width: 0;
        left: 50%;
    }
    
    100% {
        left: 0%;
    }
}